body {
    background-image: linear-gradient(to right, rgb(236, 250, 244), rgb(198, 231, 216), rgb(236, 250, 244));
}

main {
    max-width: 900px;
    margin: auto;
    padding: 10px;
}

#second-nav {
    justify-content: center;
}

#healthapp-screenshot,
#calorie-counter-screenshot,
#weather-dashboard1-screenshot,
#weather-dashboard2-screenshot,
#day-scheduler1-screenshot,
#day-scheduler2-screenshot,
#bindrr-demo {
    width: 950px;
    height: 450px;
}

.list-group-item {
    background: none;
}

#healthapp-img,
#bindrr-img,
#weather-dashboard,
#day-scheduler {
    height: 240px;
    width: 400px;
}

.picture,
.description {
    padding: 40px 0 20px 0;
}

@media only screen and (max-width: 950px) {

    main {
        max-width: 810px;
    }

    #carouselExampleControls {
        max-width: 807px;
        max-height: 382px;
        margin: auto;
    }

    #healthapp-screenshot,
    #calorie-counter-screenshot,
    #weather-dashboard1-screenshot,
    #weather-dashboard2-screenshot,
    #day-scheduler1-screenshot,
    #day-scheduler2-screenshot,
    #bindrr-demo {
        width: 807px;
        height: 382px;
    }

    #healthapp-img,
    #bindrr-img,
    #weather-dashboard,
    #day-scheduler {
        height: 180px;
        width: 300px;
        margin-top: 25px;
    }

}

@media only screen and (max-width: 750px) {

    #carouselExampleControls {
        max-width: 712px;
        max-height: 337px;
    }

    #healthapp-screenshot,
    #calorie-counter-screenshot,
    #weather-dashboard1-screenshot,
    #weather-dashboard2-screenshot,
    #day-scheduler1-screenshot,
    #day-scheduler2-screenshot,
    #bindrr-demo {
        width: 712px;
        height: 337px;
    }

    #healthapp-img,
    #bindrr-img,
    #weather-dashboard,
    #day-scheduler {
        height: 150px;
        width: 250px;
    }

}

@media only screen and (max-width: 576px) {

    #second-nav {
        justify-content: flex-start;
    }

    #carouselExampleControls {
        max-width: 534px;
        max-height: 252px;
    }

    #healthapp-screenshot,
    #calorie-counter-screenshot,
    #weather-dashboard1-screenshot,
    #weather-dashboard2-screenshot,
    #day-scheduler1-screenshot,
    #day-scheduler2-screenshot,
    #bindrr-demo {
        width: 534px;
        height: 252px;
    }

    #healthapp-img,
    #bindrr-img,
    #weather-dashboard,
    #day-scheduler {
    height: 200px;
    width: 300px;
    }

    .description {
        padding: 40px 0 0 0;
    }
    .picture {
    padding: 0 0 40px 0;
    text-align: center;
}

}