body {
    background-image: linear-gradient(to right, rgb(236, 250, 244), rgb(198, 231, 216), rgb(236, 250, 244));
}

main {
    max-width: 900px;
    margin: auto;
    padding: 10px;
}

#profile-image {
    border-radius: 50%;
    border: 6px solid rgb(211, 211, 211, 50%);
    box-shadow: 1px 1px 6px 1px black;
    /* width: 545px;
    height: 536px; */
    width: 273px;
    height: 268px;
}

.languages {
    border: 1px solid transparent;
    border-radius: .25rem;
    background-color: #e2e3e5;
    height: 1.6rem;
    padding: 0 3px 3px 3px;
    box-shadow: 1px 1px 4px black;
}

#about-image {
    border-radius: 40%;
    /* width: 2028px;
    height: 1152px; */
    width: 380px;
    height: 216px;
    box-shadow: 1px 1px 6px 1px black;
    filter: brightness(90%);
    opacity: 80%;
}

@media only screen and (max-width: 770px) {

    main {
        max-width: 550px;
    }

}